{% extends 'promptist/base.html' %}

{% block content %}

<div id="register-container">
    <h3 class="register-title">Register to unlock more features!</h3>
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <div>{{register.username}}</div>
            <div>{{register.password1}}</div>
            <div>{{register.password2}}</div>
            <div class="button-container">
                <button class="rounded-pill bg-danger border-0 promptist-buttons" type="submit">Register</button>
            </div>
        </form>
    </div>
    <h3 class="existing-user"><a href="{% url 'accounts:login_view_page' %}">Existing user? Login here!</a></h3>
</div>
{% endblock content %}
