:root {
  --primary-color: #EEF3DB;
  --secondary-color: #B7D8D6;
  --darkgrey-color: #4D6466;
  --accent-color: #FE615A;
  --angular-font: 'Alike Angular', serif;
  --mono-font: 'Cutive Mono', monospace;
}

body {
  background-color: var(--primary-color);
}

.promptist-buttons {
  font-family: var(--mono-font);
  font-size: 1.5em;
  padding: 0.25em 0.5em;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .landing-page-anchor {
  text-decoration: none;
  padding: 1em 0 0 2em;
}

.navbar .landing-page-anchor .landing-page-link {
  font-family: var(--angular-font);
  font-size: 2em;
  color: black;
}

.navbar .navbutton-container {
  display: flex;
}

.navbar .navbutton-container .navbutton {
  padding: 1em 0.5em 0 0.5em;
}

#register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-container h3 {
  font-family: var(--angular-font);
  text-align: center;
  padding: 0 2em;
  margin-top: 15%;
  margin-bottom: 2em;
}

#register-container .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-container .form-container #id_username {
  font-family: var(--mono-font);
  background-color: var(--secondary-color);
  margin-bottom: 1em;
  border-radius: 20px;
  color: var(--darkgrey-color);
}

#register-container .form-container #id_password1 {
  font-family: var(--mono-font);
  background-color: var(--secondary-color);
  margin-bottom: 1em;
  border-radius: 20px;
  color: var(--darkgrey-color);
}

#register-container .form-container #id_password2 {
  font-family: var(--mono-font);
  background-color: var(--secondary-color);
  margin-bottom: 1em;
  border-radius: 20px;
  color: var(--darkgrey-color);
}

#register-container .form-container .button-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#register-container .form-container .button-container .promptist-buttons {
  font-size: 1.3em;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-container h3 {
  font-family: var(--angular-font);
  text-align: center;
  padding: 0 2em;
  margin-top: 15%;
  margin-bottom: 2em;
}

#login-container .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-container .form-container #id_username {
  font-family: var(--mono-font);
  background-color: var(--secondary-color);
  margin-bottom: 1em;
  border-radius: 20px;
  color: var(--darkgrey-color);
}

#login-container .form-container #id_password {
  font-family: var(--mono-font);
  background-color: var(--secondary-color);
  margin-bottom: 1em;
  border-radius: 20px;
  color: var(--darkgrey-color);
}

#login-container .form-container .button-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#login-container .form-container .button-container .promptist-buttons {
  font-size: 1.3em;
}

#landing-page-container {
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--mono-font);
}

#landing-page-container .section-1 {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-page-container .section-1 .landing-title {
  font-family: var(--angular-font);
  text-align: center;
  margin-top: 15%;
}

#landing-page-container .section-1 .landing-subtitle {
  text-align: center;
  padding: 1em;
}

#landing-page-container .section-1 .landing-terminal-container .card {
  margin: 0 3em;
  border-radius: 20px;
  filter: drop-shadow(10px 10px 4px #7e7e7e60);
}

#landing-page-container .section-1 .landing-terminal-container .prompt-content {
  padding-top: 3em;
  font-family: var(--mono-font);
  color: white;
}

#landing-page-container .section-1 .get-prompting-button {
  margin-top: 1em;
}

#landing-page-container .section-2 {
  height: 50%;
  display: flex;
  flex-direction: column;
}

#landing-page-container .section-2 .split-1 {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

#landing-page-container .section-2 .split-1 .subtitle {
  text-align: center;
  padding: 1em;
}

#landing-page-container .section-2 .split-2 {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

#landing-page-container .section-2 .split-2 .subtitle {
  text-align: center;
  padding: 1em;
}

#generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
}

#generator-container .terminal-container {
  padding-bottom: 1em;
}

#generator-container .terminal-container .prompt-content {
  padding-top: 3em;
  font-family: var(--mono-font);
  color: white;
}

.profile-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-gallery-container .icon-container {
  padding: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-gallery-container .icon-container span {
  margin: 0 auto;
}

.profile-gallery-container .icon-container h4 {
  padding-top: 1em;
  text-align: center;
  font-family: var(--mono-font);
}

.profile-gallery-container .search-inline {
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
}

.profile-gallery-container .search-inline .search-form {
  display: flex;
  flex-direction: row;
}

.profile-gallery-container .upload-button-container {
  padding-top: 0.5em;
  display: flex;
  align-items: center;
}

.profile-gallery-container .upload-button-container .loading-spinner {
  margin-left: 2em;
}

.profile-gallery-container .pictures-container {
  padding-bottom: 3em;
}

.profile-gallery-container .pictures-container .prompt-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
}

.profile-gallery-container .pictures-container .prompt-inline h4 {
  margin-bottom: 0;
}
