:root {
  --primary-color: #EEF3DB;
  --secondary-color: #B7D8D6;
  --darkgrey-color: #4D6466;
  --accent-color: #FE615A;
  --angular-font: 'Alike Angular', serif;
  --mono-font: 'Cutive Mono', monospace;
}

body {
  background-color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .landing-page-anchor {
  text-decoration: none;
  padding: 1em 0 0 2em;
}

.navbar .landing-page-anchor .landing-page-link {
  font-family: var(--angular-font);
  font-size: 2em;
  color: black;
}

.navbar .navbutton-container {
  display: flex;
}

.navbar .navbutton-container .navbutton {
  padding: 1em 0.5em 0 0.5em;
}

#landing-page-container {
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--mono-font);
}

#landing-page-container .section-1 {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#landing-page-container .section-1 .landing-title {
  font-family: var(--angular-font);
  text-align: center;
  left: 80%;
  top: 0%;
}

#landing-page-container .section-1 .landing-subtitle {
  text-align: center;
}

#generator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#generator-container .terminal-container .prompt-content {
  font-family: var(--mono-font);
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-container .icon-container {
  padding: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container .icon-container span {
  margin: 0 auto;
}

.profile-container .icon-container h4 {
  padding-top: 1em;
  text-align: center;
  font-family: var(--mono-font);
}

.profile-container .search-inline {
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
}

.profile-container .search-inline .search-form {
  display: flex;
  flex-direction: row;
}

.profile-container .upload-button-container {
  padding-top: 0.5em;
  display: flex;
  align-items: center;
}

.profile-container .upload-button-container .loading-spinner {
  margin-left: 2em;
  display: none;
}

.profile-container .pictures-container {
  padding-bottom: 3em;
}

.profile-container .pictures-container .prompt-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
}

.profile-container .pictures-container .prompt-inline h4 {
  margin-bottom: 0;
}
