:root{
    //custom colours
    --primary-color: #EEF3DB;
    --secondary-color: #B7D8D6;
    --darkgrey-color: #4D6466;
    --accent-color: #FE615A;
    //custom font
    --angular-font: 'Alike Angular', serif;
    --mono-font: 'Cutive Mono', monospace;
}

body{
    background-color: var(--primary-color)
}

.navbar{
    display: flex;
    justify-content: space-between;

    .landing-page-anchor{
        text-decoration: none;
        padding: 1em 0 0 2em;

        .landing-page-link{
            font-family: var(--angular-font);
            font-size: 2em;
            color: black;
        }
    }

    .navbutton-container{
        display: flex;
        
        .navbutton{
            padding: 1em 0.5em 0 0.5em;
        }
    }

    
}

//landing page
#landing-page-container{
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--mono-font);
    
    .section-1{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .landing-title{
            font-family: var(--angular-font);
            text-align: center;
            left: 80%;
            top: 0%
        }
    
        .landing-subtitle{
            text-align: center;
        }
    }
    
}

//generator

#generator-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .terminal-container{
        // position: relative;

        .prompt-content{
            font-family: var(--mono-font);
        }
    }
}

