:root{
    //custom colours
    --primary-color: #EEF3DB;
    --secondary-color: #B7D8D6;
    --darkgrey-color: #4D6466;
    --accent-color: #FE615A;
    //custom font
    --angular-font: 'Alike Angular', serif;
    --mono-font: 'Cutive Mono', monospace;
}

body{
    background-color: var(--primary-color)
}

.promptist-buttons{
    font-family: var(--mono-font);
    font-size: 1.5em;
    padding: 0.25em 0.5em;
}

.navbar{
    display: flex;
    justify-content: space-between;

    .landing-page-anchor{
        text-decoration: none;
        padding: 1em 0 0 2em;

        .landing-page-link{
            font-family: var(--angular-font);
            font-size: 2em;
            color: black;
        }
    }

    .navbutton-container{
        display: flex;
        
        .navbutton{
            padding: 1em 0.5em 0 0.5em;
        }
    }

    
}

//register
#register-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        font-family: var(--angular-font);
        text-align: center;
        padding: 0 2em;
        margin-top: 15%; 
        margin-bottom: 2em;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        #id_username{
            font-family: var(--mono-font);
            background-color: var(--secondary-color);
            margin-bottom: 1em;
            border-radius: 20px;
            color:var(--darkgrey-color);
        }
        #id_password1{
            font-family: var(--mono-font);
            background-color: var(--secondary-color);
            margin-bottom: 1em;
            border-radius: 20px;
            color:var(--darkgrey-color);
        }
        #id_password2{
            font-family: var(--mono-font);
            background-color: var(--secondary-color);
            margin-bottom: 1em;
            border-radius: 20px;
            color:var(--darkgrey-color);
        }
        .button-container{
            display: flex;
            justify-content: center;
            margin-top: 2em;
            .promptist-buttons{
                font-size: 1.3em;
            }
        }
    }
}

//login
#login-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        font-family: var(--angular-font);
        text-align: center;
        padding: 0 2em;
        margin-top: 15%; 
        margin-bottom: 2em;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        #id_username{
            font-family: var(--mono-font);
            background-color: var(--secondary-color);
            margin-bottom: 1em;
            border-radius: 20px;
            color:var(--darkgrey-color);
        }
        #id_password{
            font-family: var(--mono-font);
            background-color: var(--secondary-color);
            margin-bottom: 1em;
            border-radius: 20px;
            color:var(--darkgrey-color);
        }

        .button-container{
            display: flex;
            justify-content: center;
            margin-top: 2em;
            .promptist-buttons{
                font-size: 1.3em;
            }
        }
    }
}

//landing page
#landing-page-container{
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--mono-font);
    
    .section-1{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .landing-title{
            font-family: var(--angular-font);
            text-align: center;
            margin-top: 15%;
        }
    
        .landing-subtitle{
            text-align: center;
            padding: 1em;
        }

        .landing-terminal-container{
            .card{
                margin: 0 3em;
                border-radius: 20px;
                filter: drop-shadow(10px 10px 4px #7e7e7e60);
            }
            .prompt-content{
                padding-top: 3em;
                font-family: var(--mono-font);
                color: white;
            }
        }
        .get-prompting-button{
            margin-top: 1em;
        }
    }
    .section-2{
        height: 50%;
        display: flex;
        flex-direction: column;

        .split-1{
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15%;

            .subtitle{
                text-align: center;
                padding: 1em;
            }
        }

        .split-2{
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15%;

            .subtitle{
                text-align: center;
                padding: 1em;
            }
        }
    }
    
}

//generator
#generator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;

    .terminal-container{
        padding-bottom: 1em;

        .prompt-content{
            padding-top: 3em;
            font-family: var(--mono-font);
            color: white;
        }
    }
}

//profile
.profile-gallery-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon-container{
        padding: 1em 0 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            margin: 0 auto;
        }

        h4{
            padding-top: 1em;
            text-align: center;
            font-family: var(--mono-font);
        }
    }

    .search-inline{
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;

        .search-form{
            display: flex;
            flex-direction: row;
        }
    }

    // inside modal
    .upload-button-container{
        padding-top: 0.5em;
        display: flex;
        align-items: center;
        .loading-spinner{
            margin-left: 2em;
        }
    }
    

    .pictures-container{
        padding-bottom: 3em;

        .prompt-inline{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 0.5em;

            h4{
                margin-bottom: 0;
            }
        }
    }
    
}
