:root{
    //custom colours
    --primary-color: #EEF3DB;
    --secondary-color: #B7D8D6;
    --darkgrey-color: #4D6466;
    --accent-color: #FE615A;
    //custom font
    --angular-font: 'Alike Angular', serif;
    --mono-font: 'Cutive Mono', monospace;
}

body{
    background-color: var(--primary-color)
}

.promptist-buttons{
    font-family: var(--mono-font);
    font-size: 1.5em;
    padding: 0.25em 0.5em;
}
.promptist-buttons:hover{
    background-color: rgb(255, 103, 103) !important;
}

.navbar{
    display: flex;
    justify-content: space-between;

    .landing-page-anchor{
        text-decoration: none;
        padding: 1em 0 0 2em;

        .landing-page-link{
            font-family: var(--angular-font);
            font-size: 2em;
            color: black;
        }
    }

    .navbutton-container{
        display: flex;
        
        .navbutton{
            padding: 1em 0.5em 0 0.5em;
        }
    }

    
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

//register
#register-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .register-title{
        font-family: var(--angular-font);
        text-align: center;
        padding: 0 2em;
        margin-top: 5%; 
        margin-bottom: 2em;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        #id_username{
            font-family: var(--mono-font);
            background-color: var(--secondary-color);
            margin-bottom: 1em;
            border-radius: 20px;
            color:var(--darkgrey-color);
        }
        #id_password1{
            font-family: var(--mono-font);
            background-color: var(--secondary-color);
            margin-bottom: 1em;
            border-radius: 20px;
            color:var(--darkgrey-color);
        }
        #id_password2{
            font-family: var(--mono-font);
            background-color: var(--secondary-color);
            margin-bottom: 1em;
            border-radius: 20px;
            color:var(--darkgrey-color);
        }
        .button-container{
            display: flex;
            justify-content: center;
            margin-top: 2em;
            .promptist-buttons{
                font-size: 1.3em;
            }
        }
    }
    .existing-user{
        margin-top: 2em;
    }
}

//login
#login-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .register-title{
        font-family: var(--angular-font);
        text-align: center;
        padding: 0 2em;
        margin-top: 5%; 
        margin-bottom: 2em;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        #id_username{
            font-family: var(--mono-font);
            background-color: var(--secondary-color);
            margin-bottom: 1em;
            border-radius: 20px;
            color:var(--darkgrey-color);
        }
        #id_password{
            font-family: var(--mono-font);
            background-color: var(--secondary-color);
            margin-bottom: 1em;
            border-radius: 20px;
            color:var(--darkgrey-color);
        }

        .button-container{
            display: flex;
            justify-content: center;
            margin-top: 2em;
            .promptist-buttons{
                font-size: 1.3em;
            }
        }
    }
    .existing-user{
        margin-top: 1em;
        text-align: center;
    }
}

//landing page
#landing-page-container{
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--mono-font);
    @media (min-width: 768px){
        height: 100vh
      }
    
    .section-1{
        height: 47%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 768px){
            height: 80%;
          }


        .landing-title{
            font-family: var(--angular-font);
            text-align: center;
            margin-top: 5%;
            @media (min-width: 768px){
                margin-top: 3%;
            }
        }
    
        .landing-subtitle{
            text-align: center;
            padding: 1em;
            @media (min-width: 768px){
                padding: 0.5em;
            }
        }

        .landing-terminal-container{
            .card{
                margin: 0 3em;
                border-radius: 20px;
                filter: drop-shadow(10px -8px 4px #7e7e7e60);
            }
            .prompt-content{
                padding-top: 3em;
                font-family: var(--mono-font);
                color: white;
            }
        }
        .get-prompting-button{
            margin-top: 1em;
        }
    }
    .section-2{
        height: 53%;
        display: flex;
        flex-direction: column;
        background-color: var(--secondary-color);
        border-radius: 20px 20px 0 0;
        filter: drop-shadow(10px -8px 4px #7e7e7e60);
        width: 100%;
        @media (min-width: 768px){
            height: 20%;
            flex-direction: row;
        }
        

        .split-1{
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15%;
            @media (min-width: 768px){
                height: 0;
                margin-top: 0;
                flex-basis: 100%;
            }

            .subtitle{
                text-align: center;
                padding: 1em;
                @media (min-width: 768px){
                    margin-top: 1em;
                    padding: 0;
                    font-size: 1.5em;
                }
            }
        }

        .split-2{
            height: 53%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15%;
            @media (min-width: 768px){
                height: 0;
                margin-top: 0;
                flex-basis: 100%;
            }

            .subtitle{
                text-align: center;
                padding: 1em;
                @media (min-width: 768px){
                    margin-top: 1em;
                    padding: 0;
                    font-size: 1.5em;
                }
            }
        }
    }
    
    
}

//generator
#generator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;

    @media (min-width: 768px){
        margin-top: 5%;
    }
    
    .generator-intro{
        font-family: var(--mono-font);
        text-align: center;
        padding: 0.5em 2em;
    }
    .terminal-container{
        padding-bottom: 1em;

        .prompt-content{
            padding-top: 3em;
            font-family: var(--mono-font);
            color: white;
        }
    }
}

//profile
.profile-gallery-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon-container{
        padding: 1em 0 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            margin: 0 auto;
        }

        h4{
            padding-top: 1em;
            text-align: center;
            font-family: var(--mono-font);
        }
    }

    .search-inline{
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;

        .search-form{
            display: flex;
            flex-direction: row;
        }
    }

    // inside modal
    .upload-button-container{
        padding-top: 0.5em;
        display: flex;
        align-items: center;
        .loading-spinner{
            margin-left: 2em;
        }
    }
    
    .main-picture-container{
        @media (min-width: 768px){
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-content: space-around;
            padding: 0 1em 0 1em;
        }
    }

    .pictures-container{
        padding-bottom: 3em;
        @media (min-width: 768px){
            padding: 0 1em 2em 1em;
        }

        img{
            border-radius: 10px;
        }

        .prompt-column{
            display: flex;
            flex-direction:column;
            padding-top: 0.5em;

            h4{
                margin-bottom: 0;
            }
        }
        .prompt-inline{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 0.5em;

            h4{
                margin-bottom: 0;
            }
        }
    }
    
}