[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
requests = "*"
django-cloudinary-storage = "*"
django-sass = "*"
django-bootstrap-icons = "*"
django-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
