{% extends 'promptist/base.html' %}
{% load bootstrap_icons %}

{% block content %}

{% comment %} <div class="icon-container">{% bs_icon 'palette-fill' size='8em' color='grey' %}</div>

{% for picture in pictures %}
<img src="{{picture.image.url}}" width="300px" />
<h4>> {{picture.prompt}}</h4>

{% endfor %} {% endcomment %}

<div class="profile-gallery-container">
    <div class="icon-container">
        {% bs_icon 'palette-fill' size='6em' color='black' %}
        <h4>Prompt Gallery</h4>
    </div>

    <div class="search-inline">
        <form class="search-form" method="POST" action="{% url 'promptist:search_gallery'%}">
            {% csrf_token %}
            <input class="form-control me-2" 
            type="search" 
            placeholder="Search Art" 
            aria-label="Search"
            name="searched">
            <button class="bg-transparent border-0" type="submit">{% bs_icon 'search' size='2em' color='grey' %}</button>

        </form>
    </div>

    
    <div>
        {% for picture in pictures %}
        <div class="pictures-container">
            <img src="{{picture.image.url}}" width="300px" />
            <div class="prompt-inline">
                <h4>> {{picture.prompt}}</h4>
                <form method="POST" action="{% url 'promptist:delete' picture.id %}">
                    {% csrf_token %}
                    <button class="bg-transparent border-0" type="submit">{% bs_icon 'trash-fill' size='1.8em' color='grey' %}</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
function displayLoad(){
    if(
        document.querySelector('#id_prompt').value != ""
        &&
        document.querySelector('#id_image').value != ""
    
    ){
        document.querySelector('.loading-spinner').style.display = "block"
    }
        
}

document.querySelector("#upload-button").addEventListener("click", () => {
    displayLoad();
});
</script>


{% endblock content %}