{% extends 'promptist/base.html' %}
{% load static %}

{% block content %}
{% comment %} {% if request.user.is_authenticated %}
<h5>{{request.user.username}}</h5>
  <a href="{% url 'accounts:logout' %}">Logout</a>
{% endif %} {% endcomment %}
<div id="generator-container">

    <div class="terminal-container">
        <div class="card bg-transparent border-0">
            <img src="{% static 'promptist/media/terminal.png' %}" class="card-img terminal-image" alt="prompt terminal">
            <div class="card-img-overlay prompt-content">
                {% if noun %}
                <h4>
                    word/noun$ </br>> {{noun}}
                </h4>
                <h4>
                    word/adjective$ </br>> {{adjective}}
                </h4>

                <h4>
                {% if vowel %}
                    > Draw an </br>{{adjective}} {{noun}}
                {% else %}
                    > Draw a </br>{{adjective}} {{noun}}
                {% endif %}
                </h4>
                {% endif %}
            </div>
        </div>
    </div>
    {% comment %} <div><button 
        method="POST"
        type="submit" 
        value="{{'promptist:promptist_generator_page'}}" 
        onclick="location.href='{% url 'promptist:promptist_generator_page' %}' "
    >Generate</button></div> {% endcomment %}
    <form action="{% url 'promptist:promptist_generator_page' %}" method="POST">
        {% csrf_token %}
        <button 
        class="rounded-pill bg-danger border-0 promptist-buttons"
        type="submit" 
        name="generate-button" 
        value="{{'promptist:promptist_generator_page'}}">Generate Prompt</button>
    </form>

</div>
{% endblock content %}